<ion-app>
  <ion-split-pane contentId="main">

    <!--  the side menu  -->
    <ion-menu menuId="first" contentId="main">

      <!-- Content -->
      <ion-content>

        <ion-grid class="ion-padding-top">
          <ion-row>
            <ion-col class="ion-text-center">
              <img src="assets/imgs/logo.png" alt="Logo" width="150">
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list lines="none">

          <ion-menu-toggle auto-hide="false" *ngFor="let m of splitMenus">

            <ion-item [routerLink]="m.path" routerDirection="root">

              <ion-icon name="alert-circle-outline"></ion-icon>

              <ion-label class="ion-padding-start">
                {{m.title}}
              </ion-label>

            </ion-item>

          </ion-menu-toggle>

        </ion-list>

      </ion-content>

    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
